<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.executor.mapper.AgentMapper">

    <select id="selectUids" resultType="com.job.executor.domain.AgentCommission">
        select r.uid, r.agent_id agentId, r.channel
        from data_register r
    </select>

    <insert id="saveAgentIncome">
        insert into
        agent_commission(uid,agent_id,channel,team_num,sub_num,sub_ratio,sub_income,other_num,other_ratio,other_income,total_income,cash_income,wait_income,history_income)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.uid},#{item.agentId},#{item.channel},#{item.teamNum},#{item.subNum},#{item.subRatio},#{item.subIncome}
            ,#{item.otherNum},#{item.otherRatio},#{item.otherIncome},#{item.totalIncome},#{item.cashIncome},#{item.waitIncome},#{item.totalIncome})
        </foreach>
        ON DUPLICATE KEY
        UPDATE agent_id=values(agent_id),
        channel=values(channel),
        team_num=values(team_num),
        sub_num=values(sub_num),
        sub_ratio=sub_ratio+values(sub_ratio),
        sub_income=sub_income+values(sub_income),
        other_num=other_num+values(other_num),
        other_ratio=other_ratio+values(other_ratio),
        other_income=other_income+values(other_income),
        total_income=total_income+values(total_income),
        cash_income=cash_income+values(cash_income),
        wait_income=wait_income+values(wait_income),
        history_income=history_income+values(history_income);
    </insert>

    <insert id="saveAgentDayIncome">
        insert into
        agent_commission_day(day,uid,agent_id,channel,team_num,sub_num,sub_ratio,sub_income,other_num,other_ratio,other_income,total_income,cash_income,wait_income)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.day},#{item.uid},#{item.agentId},#{item.channel},#{item.teamNum},#{item.subNum},#{item.subRatio},#{item.subIncome}
            ,#{item.otherNum},#{item.otherRatio},#{item.otherIncome},#{item.totalIncome},0,#{item.totalIncome})
        </foreach>
        ON DUPLICATE KEY
        UPDATE agent_id=values(agent_id),
        channel=values(channel),
        team_num=values(team_num),
        sub_num=values(sub_num),
        sub_ratio=values(sub_ratio),
        sub_income=values(sub_income),
        other_num=values(other_num),
        other_ratio=values(other_ratio),
        other_income=values(other_income),
        total_income=values(total_income),
        wait_income=values(total_income)-cash_income;
    </insert>

    <select id="selectDayIncome" resultType="com.job.executor.domain.AgentCommission">
        select uid,
               agent_id     agentId,
               channel,
               team_num     teamNum,
               sub_num      subNum,
               sub_ratio    subRatio,
               sub_income   subIncome,
               other_num    otherNum,
               other_ratio  other_ratio,
               other_income otherIncome,
               total_income totalIncome,
               cash_income  cashIncome,
               wait_income  waitIncome
        from agent_commission_day
        where day = #{day}
    </select>

    <insert id="saveAgentPopularize">
        insert into agent_popularize_day(day,uid,team_num,sub_num,other_num) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.day},#{item.uid},#{item.teamNum},#{item.subNum},#{item.otherNum})
        </foreach>
        ON DUPLICATE KEY
        team_num=values(team_num),
        sub_num=values(sub_num),
        other_num=values(other_num);
    </insert>
</mapper>
