<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.executor.mapper.CountSubGameMapper">

    <select id="getGameCardInfo" resultType="java.util.Map">
        select u.table_type tableId,
               g.game_name tableName,
               u.channel,
               sum(u.bet_coins)/10000 betCount,
               sum(u.pay_fee)/10000 feeCount,
               g2.game_id gameId,
               g2.game_name gameName
        from data_card_user u
                 left join config_game g
                           on u.table_type = g.game_id
                 left join config_game g2
                           on g.parent_id = g2.game_id
        where u.mstime between #{beginTime} and #{endTime}
        group by u.table_type, u.channel
    </select>

    <insert id="saveGameCardInfo">
            insert into
            data_game_day(day,channel,table_id,table_name,game_id,game_name,bet_count,fee_count)
            values
            <foreach item="item" index="index" collection="list" separator=",">
                (#{date},#{item.channel},#{item.tableId},#{item.tableName},#{item.gameId},#{item.gameName},#{item.betCount},#{item.feeCount})
            </foreach>
            ON DUPLICATE KEY
            UPDATE bet_count=values(bet_count),
            fee_count=values(fee_count);
    </insert>
    <select id="getGameWaterInfo" resultType="java.util.Map">
        SELECT w.table_type tableId,
               g.game_name tableName,
               w.channel,
               SUM(w.reward)/10000 rewardCount,
               g2.game_id gameId,
               g2.game_name gameName
        FROM data_water w
                 LEFT JOIN config_game g
                           ON w.table_type = g.game_id
                 LEFT JOIN config_game g2
                           ON g.parent_id = g2.game_id
        where w.mstime between #{beginTime} and #{endTime}
            and w.channel is not null
        GROUP BY table_type, channel
    </select>

    <insert id="saveGameWaterInfo">
        insert into
        data_game_day(day,channel,table_id,table_name,game_id,game_name,reward_count)
        values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{date},#{item.channel},#{item.tableId},#{item.tableName},#{item.gameId},#{item.gameName},#{item.rewardCount})
        </foreach>
        ON DUPLICATE KEY
        UPDATE reward_count=values(reward_count);
    </insert>
</mapper>
