<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.job.executor.mapper.TotalMapper">

    <insert id="insertOnline">
        insert into data_online(uid, name,game_type,table_type,coins) values
        <foreach item="item" index="index" collection="list" separator=",">
            (#{item.uid},#{item.name},#{item.gameType},#{item.tableType},#{item.coins})
        </foreach>
    </insert>

    <insert id="saveTodayLogins">
        insert into data_login_count(`date`, `num`)
        values (#{date}, #{num}) ON DUPLICATE KEY
        UPDATE num=#{num};
    </insert>
</mapper>
