<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.AddUserMapper">

    <select id="getList" resultType="com.manager.common.core.domain.model.AddUser">
        SELECT
            day,
            COUNT(uid) as uid,
            SUM(agentTime) as agentTime,
            SUM(payUserCount) as payUserCount,
            round(SUM(payUserCount) / COUNT(t.uid),2) as payUserRate,
            round(SUM(userRechargeMoney),2) as userRechargeMoney,
            round(SUM(userExchangeMoney),2) as  userExchangeMoney,
            round(SUM(userRechargeMoney) / COUNT(uid),2) as addArpu,
            round(SUM(userSumBet),2) as userSumBet,
            round(SUM(userReward),2) as userReward,
            round(SUM(userSumBet) - SUM(userReward),2) as consumption
            from
            (
                SELECT
                FROM_UNIXTIME(dr.time, '%Y-%m-%d') as day,
                COUNT(u.phone) as agentTime,
                dr.uid as uid,
                (
                SELECT COUNT(distinct uid) from
                config_recharge_order cro
                where
                cro.recharge_amount > 0
                and cro.uid <![CDATA[<>]]> 0
                and dr.uid = cro.uid
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') = date_format(cro.finish_time, '%Y-%m-%d')
                ) as payUserCount,
                (
                SELECT SUM(cro.recharge_amount) from
                config_recharge_order cro
                where
                dr.uid = cro.uid
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') = date_format(cro.finish_time, '%Y-%m-%d')
                and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4' or cro.operate_type is null)
                ) as userRechargeMoney,
                (
                SELECT SUM(ceo.withdraw_money) from
                config_exchange_order ceo
                where
                dr.uid = ceo.uid
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') = date_format(ceo.update_time, '%Y-%m-%d')
                and ceo.exaa_status = '5'
                ) as userExchangeMoney,
                (
                SELECT SUM(dw.value) from
                data_water dw
                where dr.uid = dw.uid
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') = FROM_UNIXTIME(dw.time, '%Y-%m-%d')
                ) as userSumBet,
                (
                SELECT SUM(dw.reward) from
                data_water dw
                where dr.uid = dw.uid
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') = FROM_UNIXTIME(dw.time, '%Y-%m-%d')
                ) as userReward
                from
                data_register dr
                left join data_user u on (dr.account_id = u.account_id)
                where  1=1
                <choose>
                    <when test="channel !=null and channel !=''">
                        and dr.channel = #{channel}
                    </when>
                    <otherwise>
                        and dr. channel IN (
                            SELECT t.t_id FROM sys_tenant t
                            WHERE t.t_type = '2'
                            AND (t.ancestors LIKE concat('%', #{tid2}, '%') OR t_id = #{tid2})
                        )
                    </otherwise>
                </choose>
                <if test="tid !=null and tid !=''">
                    and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
                </if>
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') >= #{createTime1}
                and FROM_UNIXTIME(dr.time, '%Y-%m-%d') <![CDATA[<=]]> #{createTime2}
                group by FROM_UNIXTIME(dr.time, '%Y-%m-%d'), dr.uid
            )
        t group by day order by day DESC
    </select>

    <select id="getUserList" resultType="String">
        select
            dr.uid as uid
        from
            data_register dr
        where
            #{day} = FROM_UNIXTIME(dr.time, '%Y-%m-%d')
    </select>

    <select id="getCardPlayingRate" resultType="Integer">
        SELECT
            COUNT(distinct dcu.uid) as cardPlayingRate
        from
            data_card_user dcu
        where
            dcu.uid in
            <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
                #{item}
            </foreach>
          and #{day} = FROM_UNIXTIME(dcu.mstime / 1000, '%Y-%m-%d')
    </select>

    <select id="getUserCardCount" resultType="Integer">
        SELECT
            COUNT(1) as userCardCount
        from
        data_card_user dcu
        where
        dcu.uid in
        <foreach item="item" index="index" collection="list" open="(" separator="," close=")">
            #{item}
        </foreach>
        and #{day} = FROM_UNIXTIME(dcu.mstime / 1000, '%Y-%m-%d')
    </select>

</mapper>
