<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.CardMapper">

    <select id="selectCard" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.Card">
        select c.table_gid tableGid,
               c.game_type gameType,
        FROM_UNIXTIME(c.begin_time) beginTime,
        FROM_UNIXTIME(c.end_time) endTime,
        c.side_list sideList,c.uid,
        c.total_num totalNum,c.ai_num aiNum,
        c.add_score addScore,c.pay_fee payFee,c.bet_coins betCoins
        from data_card c
        <where>
            <if test="tableGid!=null and tableGid !=''">
                and c.table_gid = #{tableGid}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and c.mstime between #{beginms} and #{endms}
            </if>
            <if test="gameId!=null and gameId !=''">
                and c.game_type = #{gameId}
            </if>
        </where>
    </select>

    <select id="selectCardUser" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.Card">
        select u.table_gid tableGid,
               u.game_type gameType,
        FROM_UNIXTIME(u.begin_time) beginTime,
        FROM_UNIXTIME(u.end_time) endTime,
        c.total_num totalNum,u.add_score addScore,u.pay_fee payFee,u.bet_coins betCoins,
        c.ai_num aiNum,c.side_list sideList
        from data_card_user u
        left join data_card c on u.table_gid = c.table_gid
        <where>
            <if test="tableGid!=null and tableGid !=''">
                and u.table_gid = #{tableGid}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and u.mstime between #{beginms} and #{endms}
            </if>
            <if test="gameId!=null and gameId !=''">
                and u.game_type = #{gameId}
            </if>
        </where>
    </select>

    <select id="selectCardCount" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.Card">
        select sum(c.add_score) countScore,sum(c.pay_fee) countPayfee,sum(c.bet_coins) countBetCoins
        from data_card c
        <where>
            <if test="tableGid!=null and tableGid !=''">
                and c.table_gid = #{tableGid}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and c.mstime between #{beginms} and #{endms}
            </if>
            <if test="gameId!=null and gameId !=''">
                and c.game_type = #{gameId}
            </if>
        </where>
    </select>

    <select id="selectCardUserCount" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.Card">
        select sum(u.add_score) countScore,sum(u.pay_fee) countPayfee,sum(u.bet_coins) countBetCoins
        from data_card_user u
        <where>
            <if test="tableGid!=null and tableGid !=''">
                and u.table_gid = #{tableGid}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and u.mstime between #{beginms} and #{endms}
            </if>
            <if test="gameId!=null and gameId !=''">
                and u.game_type = #{gameId}
            </if>
        </where>
    </select>
</mapper>
