<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.UserMapper">

    <insert id="insertToDataUser" parameterType="com.manager.common.core.domain.entity.DataUser" useGeneratedKeys="true"
            keyProperty="accountId" keyColumn="account_id">
        insert into data_user (phone, password, client_ip, seed_token, package_channel, create_time)
        values (#{phone}, #{password}, #{client_ip}, #{seed_token}, #{package_channel}, sysdate())
    </insert>

    <select id="loadDataUserName" parameterType="com.manager.common.core.domain.entity.DataUser" resultType="Integer">
        select count(phone)
        from data_user
        where phone = #{phone}
          and password = #{password}
    </select>

    <update id="updateDataUser" parameterType="com.manager.common.core.domain.entity.DataUser">
        update data_user
        set phone    = #{phone},
            password = #{password}
        where account_id = #{accountId}
    </update>

    <select id="checkBlack" resultType="java.util.Map">
        SELECT black_type blackType,
               black_num blackNum,
               handle_type handleType
        FROM sys_black
        WHERE (black_type ='1'  AND black_num LIKE CONCAT('%',#{ip},'%'))
           OR (black_type ='2'  AND black_num LIKE CONCAT('%',(select account from user_exchange where uid = #{uid} and type='0'),'%'))
           OR (black_type ='3'  AND black_num LIKE CONCAT('%',(select account from user_exchange where uid = #{uid} and type='1'),'%'))
           OR (black_type ='4'  AND black_num LIKE CONCAT('%',#{matchineId},'%'))
           and handle_type in ('1','2')
           limit 0,1
    </select>

    <insert id="saveBlackInfo">
        insert into sys_black_info(uid, tid, black_type, black_num, handle_type,create_time)
        values (#{uid}, #{tid}, #{blackType}, #{blackNum}, #{handleType},sysdate())
    </insert>
</mapper>
