<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.DataAnalysisMapper">

   <select id="withdrawTopList" resultType="com.manager.common.core.domain.model.vo.DataAnalysisVO"  parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
       SELECT
           ceo.channel,
           ceo.uid,
           dr.name,
           dr.time,
           IFNULL(sum(ceo.withdraw_money),0) withdrawAmount
       from config_exchange_order ceo LEFT JOIN data_register dr on ceo.uid = dr.uid
       where
           exaa_status = 5
           <if test="beginTime!=null and beginTime !=''">
               and ceo.update_time between #{beginms} and #{endms}
           </if>
           <if test="tid!=null and tid!=''">
               and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
           </if>
           <if test="currentUserId!=null and currentUserId!=''">
               and dr.channel IN (
               SELECT t.t_id FROM sys_tenant t
               WHERE t.t_type = '2'
               AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
               )
           </if>
       GROUP BY channel,uid,dr.name
       ORDER BY sum(ceo.curr_money) desc LIMIT 100
   </select>

    <select id="getCurrentAmount" resultType="java.math.BigDecimal" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT curr_money from config_exchange_order
        where exaa_status = 5
        <if test="uid!=null and uid!=''">
            and uid = #{uid}
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        ORDER BY id desc LIMIT 1
    </select>

    <select id="rechargeAmount" resultType="java.math.BigDecimal" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        select IFNULL(sum(recharge_amount),0) amount from config_recharge_order
        where payment_status = 1
        <if test="uid!=null and uid!=''">
            and uid = #{uid}
        </if>
        <if test="beginTime!=null and beginTime !=''">
            and finish_time between #{beginTime} and #{endTime}
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="channelId!=null and channelId!=''">
           and channel = #{channelId}
        </if>
    </select>

    <select id="rechargeAmountTotal" resultType="java.math.BigDecimal" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        select IFNULL(sum(recharge_amount),0) amount  from config_recharge_order
        where payment_status = 1
        <if test="uid!=null and uid!=''">
            and uid = #{uid}
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="withdrawAmount" resultType="java.math.BigDecimal" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        select IFNULL(sum(withdraw_money),0) amount  from config_exchange_order
        where exaa_status = 5 and uid = #{uid}
        <if test="beginTime!=null and beginTime !=''">
            and update_time between #{beginms} and #{endms}
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="withdrawAmountTotal" resultType="java.math.BigDecimal" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        select IFNULL(sum(withdraw_money),0) amount  from config_exchange_order
        where exaa_status = 5 and uid = #{uid}
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="getDataWaterTopList" resultType="com.manager.common.core.domain.model.vo.DataWaterTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT
        dcu.channel,
        dcu.uid,
        dr.name,
        dr.time,
        IFNULL(sum(dcu.bet_coins),0) betTotal
        FROM
        data_card_user dcu
        LEFT JOIN data_register dr ON dcu.uid = dr.uid
        <where>
            <if test="beginTime!=null and beginTime !=''">
                and dcu.mstime between #{beginms} and #{endms}
            </if>
            <if test="tid!=null and tid!=''">
                and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="currentUserId!=null and currentUserId!=''">
                and dr.channel IN (
                SELECT t.t_id FROM sys_tenant t
                WHERE t.t_type = '2'
                AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
                )
            </if>
        </where>
        GROUP BY dcu.channel,dcu.uid,dr.NAME
        ORDER BY sum( dcu.bet_coins ) DESC
        LIMIT 100
    </select>

    <select id="getUserTableList" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT uid, count(uid) count from data_card_user
        <where>
            <if test="beginTime!=null and beginTime !=''">
                and mstime between #{beginms} and #{endms}
            </if>
            <if test="tid!=null and tid!=''">
                and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
        </where>
        GROUP BY uid
    </select>

    <select id="getRechargeTopList" resultType="com.manager.common.core.domain.model.vo.RechargeTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT
            cro.channel,
            cro.uid,
            dr.name,
            dr.time,
            COUNT(cro.uid) rechargeCount,
            IFNULL(SUM(cro.recharge_amount),0) rechargeAmount,
            dr.login_time lastLoginTime
        FROM
        config_recharge_order cro
        LEFT JOIN data_register dr ON cro.uid = dr.uid
        <where>
            payment_status =1
            <if test="beginTime!=null and beginTime !=''">
                and cro.finish_time between #{beginms} and #{endms}
            </if>
            <if test="tid!=null and tid!=''">
                and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="currentUserId!=null and currentUserId!=''">
                and dr.channel IN (
                SELECT t.t_id FROM sys_tenant t
                WHERE t.t_type = '2'
                AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
                )
            </if>
        </where>
        GROUP BY cro.channel,cro.uid,dr.NAME
        ORDER BY sum(cro.recharge_amount) DESC
        LIMIT 100
    </select>

    <select id="getLastPayTime" resultType="com.manager.common.core.domain.model.vo.RechargeTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT after_order_money amount,recharge_type rechargeType,finish_time lastPayTime
        from config_recharge_order
        WHERE payment_status =1 and uid = #{uid}
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="currentUserId!=null and currentUserId!=''">
            and channel IN (
            SELECT t.t_id FROM sys_tenant t
            WHERE t.t_type = '2'
            AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
            )
        </if>
        ORDER BY finish_time desc
        LIMIT 1
    </select>

    <select id="getPlayGameList" resultType="com.manager.common.core.domain.model.vo.RechargeTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT
            cg.game_name gameNames
        FROM
            data_card dc
            LEFT JOIN config_game cg ON dc.table_type = cg.game_id
        WHERE cg.game_name is not null and uid = #{uid}
        <if test="beginTime!=null and beginTime !=''">
            and dc.mstime between #{beginms} and #{endms}
        </if>
        GROUP BY cg.game_name
        ORDER BY sum(dc.system_win) desc LIMIT 3
    </select>

    <select id="getEarningsWithdrawList" resultType="com.manager.common.core.domain.model.vo.EarningsTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT ceo.uid,IFNULL(SUM(ceo.withdraw_money),0) withdrawAmount
        from config_exchange_order ceo
        WHERE ceo.exaa_status in(1,2,3,4,5,6)
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="currentUserId!=null and currentUserId!=''">
            and channel IN (
            SELECT t.t_id FROM sys_tenant t
            WHERE t.t_type = '2'
            AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
            )
        </if>
        <if test="beginTime!=null and beginTime !=''">
            and ceo.update_time >=  #{beginTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and ceo.update_time <![CDATA[ <= ]]> #{endTime}
        </if>
        GROUP BY ceo.uid
        ORDER BY withdrawAmount desc LIMIT 100
    </select>

    <select id="getEarningsRechargeList" resultType="com.manager.common.core.domain.model.vo.EarningsTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT cro.uid,IFNULL(SUM(cro.recharge_amount),0) rechargeAmount
        from config_recharge_order cro
        WHERE cro.payment_status = 1
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="currentUserId!=null and currentUserId!=''">
            and channel IN (
            SELECT t.t_id FROM sys_tenant t
            WHERE t.t_type = '2'
            AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId})
            )
        </if>
        <if test="beginTime!=null and beginTime !=''">
            and cro.update_time between #{beginTime} and #{endTime}
        </if>
        GROUP BY cro.uid
        ORDER BY rechargeAmount desc LIMIT 100
    </select>
    
    <select id="getDataCoinsStartTimeAmount" resultType="Integer" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT IFNULL(curr,0) curr
        FROM data_coins
        WHERE uid = #{uid}
        <if test="endTime!=null and endTime!=''">
            and UNIX_TIMESTAMP(#{endTime}) >= time
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        LIMIT 1
    </select>

    <select id="getDataCoinsEndTimeAmount" resultType="Integer" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT IFNULL(curr,0) curr
        FROM data_coins
        WHERE uid = #{uid}
        <if test="endTime!=null and endTime!=''">
            and UNIX_TIMESTAMP(#{endTime}) >= time
        </if>
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        LIMIT 1
    </select>

    <select id="getUserInfo" resultType="com.manager.common.core.domain.model.vo.EarningsTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT dr.channel,dr.name,dr.time,dr.login_time lastLoginTime
        FROM data_register  dr
        WHERE uid = #{uid}
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="getUserBetTotal" resultType="Long" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT IFNULL(sum(dw.value),0) betTotal from data_water dw
        WHERE uid = #{uid}
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="beginTime!=null and beginTime !=''">
            and dw.time >=  #{beginTime}
        </if>
        <if test="endTime!=null and endTime !=''">
            and dw.time <![CDATA[ <= ]]> #{endTime}
        </if>
    </select>

    <select id="getAgentTopList" resultType="com.manager.common.core.domain.model.vo.AgentTopVO" parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT
            ac.channel,
            ac.uid,
            dr.name,
            dr.time,
            ac.sub_num subNum,
            ac.total_income totalIncome,
            ac.cash_income cashIncome
        from agent_commission ac LEFT JOIN data_register dr ON ac.uid =dr.uid
        <where>
            <if test="tid!=null and tid!=''">
                ac.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="currentUserId!=null and currentUserId!=''">
                and ac.channel IN (
                SELECT t.t_id FROM sys_tenant t
                WHERE t.t_type = '2'
                AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId}))
            </if>
        </where>
        <if  test="type == 1">
            ORDER BY ac.sub_num desc
        </if>
        <if  test="type == 2">
            ORDER BY ac.cash_income desc
        </if>
        LIMIT 100
    </select>

    <select id="getPayInfoList" resultType="java.util.Map"  parameterType="com.manager.common.core.domain.model.param.DataAnalysisParam">
        SELECT
            sum(case when recharge_amount>0 and recharge_amount <![CDATA[<]]> 50 then 1 else 0 end) as count1,
            sum(case when recharge_amount>=50 and recharge_amount <![CDATA[<]]> 100 then 1 else 0 end) as count2,
            sum(case when recharge_amount>=100 and recharge_amount <![CDATA[<]]> 200 then 1 else 0 end) as count3,
            sum(case when recharge_amount>=200 and recharge_amount <![CDATA[<]]> 500 then 1 else 0 end) as count4,
            sum(case when recharge_amount>=500 and recharge_amount <![CDATA[<]]> 1000 then 1 else 0 end) as count5,
            sum(case when recharge_amount>=1000 and recharge_amount <![CDATA[<]]> 3000 then 1 else 0 end) as count6,
            sum(case when recharge_amount>=3000 and recharge_amount <![CDATA[<]]> 5000 then 1 else 0 end) as count7,
            sum(case when recharge_amount>=5000 and recharge_amount <![CDATA[<]]> 10000 then 1 else 0 end) as count8,
            sum(case when recharge_amount>=10000 and recharge_amount <![CDATA[<]]> 20000 then 1 else 0 end) as count9,
            sum(case when recharge_amount>=20000 and recharge_amount <![CDATA[<]]> 50000 then 1 else 0 end) as count10,
            sum(case when recharge_amount>=50000 and recharge_amount <![CDATA[<]]> 100000 then 1 else 0 end) as count11,
            sum(case when recharge_amount>=100000 then 1 else 0 end) as count12
        from
            config_recharge_order
        where payment_status = 1
        <if test="tid!=null and tid!=''">
            and channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="currentUserId!=null and currentUserId!=''">
            and ac.channel IN (
            SELECT t.t_id FROM sys_tenant t
            WHERE t.t_type = '2'
            AND (t.ancestors LIKE concat('%', #{currentUserId}, '%') OR t_id = #{currentUserId}))
        </if>
        <if test="beginTime!=null and beginTime !=''">
            and finish_time between #{beginTime} and #{endTime}
        </if>
        <if test="channelId!=null and channelId!=''">
            and channel = #{channelId}
        </if>
    </select>

    <select id="getPlayerReportCount" resultType="int"  parameterType="com.manager.common.core.domain.model.param.PlayerReportParam">
        SELECT
            count(DISTINCT(dcu.uid))
        from data_card_user dcu
        LEFT JOIN agent_commission ac ON dcu.uid = ac.uid
        <where>
            <if test="tid!=null and tid!=''">
                and dcu.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="channelId!=null and channelId!=''">
                and dcu.channel = #{channelId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and ac.agent_id = #{agentId}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and dcu.mstime between #{beginms} and #{endms}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (dcu.uid = #{keyword} or dcu.uid = (select uid from data_register where phone=  #{keyword}))
            </if>
            <if test="gameId!=null and gameId!=0">
                and dcu.table_type = #{gameId}
            </if>
        </where>
    </select>

    <select id="getPlayerReportList" resultType="com.manager.common.core.domain.model.vo.PlayerReportVO"  parameterType="com.manager.common.core.domain.model.param.PlayerReportParam">
        SELECT
            dcu.uid,
            ac.agent_id agentId,
            dcu.channel,
            count(dcu.uid) gameTableNum,
            sum(dcu.bet_coins) betCoins,
            sum(dcu.add_score) addScore,
            (sum(dcu.add_score) + sum(dcu.bet_coins)) rewardAmount
        from data_card_user dcu
        LEFT JOIN agent_commission ac ON dcu.uid = ac.uid
        <where>
            <if test="tid!=null and tid!=''">
                and dcu.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="channelId!=null and channelId!=''">
                and dcu.channel = #{channelId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and ac.agent_id = #{agentId}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and dcu.mstime between #{beginms} and #{endms}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (dcu.uid = #{keyword} or dcu.uid = (select uid from data_register where phone=  #{keyword}))
            </if>
            <if test="gameId!=null and gameId!=0">
                and dcu.table_type = #{gameId}
            </if>
        </where>
        GROUP BY dcu.channel,dcu.uid
        ORDER BY dcu.channel,
        <if test="orderType == 1">
            sum(dcu.bet_coins)
        </if>
        <if test="orderType == 2">
            (sum(dcu.add_score) + sum(dcu.bet_coins))
        </if>
        <if test="orderType ==3">
            sum(dcu.add_score)
        </if>
        DESC
    </select>

    <select id="getPlayerGameReportList" resultType="com.manager.common.core.domain.model.vo.PlayerGameReportVO"  parameterType="com.manager.common.core.domain.model.param.PlayerReportParam">
        SELECT
            cg.game_name gameName,
            count(dcu.uid) gameTableNum,
            sum(dcu.bet_coins) betCoins,
            (sum(dcu.add_score) + sum(dcu.bet_coins)) rewardAmount,
            sum(dcu.add_score) addScore
        from data_card_user dcu
        LEFT JOIN config_game cg ON dcu.table_type = cg.game_id
        <where>
            <if test="tid!=null and tid!=''">
                and dcu.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="channelId!=null and channelId!=''">
                and dcu.channel = #{channelId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and ac.agent_id = #{agentId}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and dcu.mstime between #{beginms} and #{endms}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (dcu.uid = #{keyword} or dcu.uid = (select uid from data_register where phone=  #{keyword}))
            </if>
            <if test="gameId!=null and gameId!=0">
                and dcu.table_type = #{gameId}
            </if>
        </where>
        GROUP BY cg.game_name
        ORDER BY sum(dcu.add_score) DESC
    </select>

    <select id="getPlayerDayReportList" resultType="com.manager.common.core.domain.model.vo.PlayerDayReportVO"  parameterType="com.manager.common.core.domain.model.param.PlayerReportParam">
        SELECT
            FROM_UNIXTIME(dcu.begin_time, '%Y-%m-%d') as day,
            dcu.channel,
            dcu.uid,
            ac.agent_id agentId,
            count(dcu.uid) gameTableNum,
            sum(dcu.bet_coins) betCoins,
            (sum(dcu.add_score) + sum(dcu.bet_coins)) rewardAmount,
            sum(dcu.add_score) addScore
        from data_card_user dcu
        LEFT JOIN agent_commission ac  on dcu.uid = ac.uid
        <where>
            <if test="tid!=null and tid!=''">
                and dcu.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
            </if>
            <if test="channelId!=null and channelId!=''">
                and dcu.channel = #{channelId}
            </if>
            <if test="agentId!=null and agentId!=''">
                and ac.agent_id = #{agentId}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and dcu.mstime between #{beginms} and #{endms}
            </if>
            <if test="keyword!=null and keyword!=''">
                and (dcu.uid = #{keyword} or dcu.uid = (select uid from data_register where phone=  #{keyword}))
            </if>
            <if test="gameId!=null and gameId!=0">
                and dcu.table_type = #{gameId}
            </if>
        </where>
        GROUP BY dcu.channel,dcu.uid,day
        ORDER BY day DESC
    </select>
</mapper>
