<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.DirectRechargeMapper">

    <select id="getList" resultType="com.manager.common.core.domain.model.DirectRecharge">
        SELECT
            dr.uid as uid,
            dr.agent_id as agentId,
            dr.channel as channel,
            FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d %H:%i:%S') as agentTime
        FROM
            data_register dr
        where
            dr.agent_id = #{agentId}
        <if test="agentTime1!=null and agentTime1!=''">
            and #{agentTime1} <![CDATA[<=]]> FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="agentTime2!=null and agentTime2!=''">
            and #{agentTime2} >= FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="tid !=null and tid !=''">
            and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
        <if test="page2 != null">
            LIMIT #{page2},#{size}
        </if>
    </select>

    <select id="getListCount" resultType="Integer">
        SELECT
            count(1)
        FROM
            data_register dr
        where
            dr.agent_id = #{agentId}
        <if test="agentTime1!=null and agentTime1!=''">
            and #{agentTime1} <![CDATA[<=]]> FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="agentTime2!=null and agentTime2!=''">
            and #{agentTime2} >= FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="tid !=null and tid !=''">
            and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="getRechargeAmount" resultType="String">
        SELECT
            SUM(cro.recharge_amount)
        from
            config_recharge_order cro
        where
            cro.uid = #{uid}
            and cro.finish_time >= #{agentTime}
            and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4'
            or cro.operate_type is null)
        <if test="rechargeTime1!=null and rechargeTime1!=''">
            and cro.finish_time >= #{rechargeTime1}
        </if>
        <if test="rechargeTime2!=null and rechargeTime2!=''">
            and cro.finish_time <![CDATA[<=]]> #{rechargeTime2}
        </if>
    </select>


    <select id="getSubList" resultType="com.manager.common.core.domain.model.DirectRecharge">
        SELECT
            dr.uid as uid,
            dr.agent_id as agentId,
            dr.channel as channel,
            FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d %H:%i:%S') as agentTime
        FROM
            data_register dr
        where
            dr.agent_id = #{agentId}
            and dr.uid = #{uid}
        <if test="agentTime1!=null and agentTime1!=''">
            and #{agentTime1} <![CDATA[<=]]> FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="agentTime2!=null and agentTime2!=''">
            and #{agentTime2} >= FROM_UNIXTIME(dr.agent_time / 1000, '%Y-%m-%d')
        </if>
        <if test="tid !=null and tid !=''">
            and dr.channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>

    <select id="getSubList2" resultType="com.manager.common.core.domain.model.DirectRecharge">
        SELECT
            cro.recharge_amount as rechargeAmount,
            cro.finish_time as agentTime
        from
            config_recharge_order cro
        where
            cro.uid = #{uid}
            and cro.finish_time >= FROM_UNIXTIME(#{agentTime}, '%Y-%m-%d %H:%i:%S')
            and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4'
                or cro.operate_type is null)
        <if test="rechargeTime1!=null and rechargeTime1!=''">
            and cro.finish_time >= #{rechargeTime1}
        </if>
        <if test="rechargeTime2!=null and rechargeTime2!=''">
            and cro.finish_time <![CDATA[<=]]> #{rechargeTime2}
        </if>
        <if test="orderByColumn!=null and orderByColumn!=''">
            <choose>
                <when test="isAsc == 'asc'">
                    order by rechargeAmount ASC
                </when>
                <otherwise>
                    order by rechargeAmount DESC
                </otherwise>
            </choose>
        </if>
        <if test="page2 != null">
            LIMIT #{page2},#{size}
        </if>
    </select>

    <select id="getSubListCount" resultType="Integer">
        SELECT
            count(1)
        from
        config_recharge_order cro
        where
        cro.uid = #{uid}
        and cro.finish_time >= FROM_UNIXTIME(#{agentTime}, '%Y-%m-%d %H:%i:%S')
        and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4'
        or cro.operate_type is null)
        <if test="rechargeTime1!=null and rechargeTime1!=''">
            and cro.finish_time >= #{rechargeTime1}
        </if>
        <if test="rechargeTime2!=null and rechargeTime2!=''">
            and cro.finish_time <![CDATA[<=]]> #{rechargeTime2}
        </if>
    </select>
</mapper>
