<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.LoginMapper">

    <select id="selectLogin" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.Login">
        select uid,name,ip_address ip,
        FROM_UNIXTIME(time) time,channel,
        device_id deviceId,
        device_brand deviceBrand,
        vip_level vipLevel
        from data_login
        <where>
            <if test="uid!=null and uid !=''">
                and uid in
                <foreach item="item" index="index" collection="uid.split(',')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
            <if test="tid!=null and tid !=''">
                and channel in (select t_id from sys_tenant where t_type = '2' and ancestors like CONCAT('%', #{tid}, '%'))
            </if>
            <if test="tenant!=null and tenant !=''">
                and channel in (select t_id from sys_tenant where t_type = '2' and tenant = #{tenant} )
            </if>
            <if test="ip!=null and ip!=''">
                and ip_address = #{ip}
            </if>
            <if test="deviceBrand!=null and deviceBrand!=''">
                and device_brand = #{deviceBrand}
            </if>
            <if test="deviceId!=null and deviceId!=''">
                and device_id = #{deviceId}
            </if>
            <if test="beginTime!=null and beginTime!=''">
                and time >= UNIX_TIMESTAMP(#{beginTime})
            </if>
            <if test="endTime!=null and endTime!=''">
                and UNIX_TIMESTAMP(#{endTime}) >= time
            </if>
        </where>
    </select>
</mapper>
