<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.MonthCardMapper">

    <insert id="saveWithdraw" parameterType="com.manager.common.core.domain.model.ExchangeOrder">
        insert into config_exchange_order( tid, uid, withdraw_money, curr_money, transfer_amount, poundage
                                         , withdraw_number, channel, withdraw_ip
                                         , withdraw_order_number, uname, accumulate_water, accumulate_recharge
                                         , accumulate_excoins, register_ip, withdraw_type, exaa_status, create_time)
        values (#{tid}, #{uid}, #{withdrawMoney}, #{currMoney}, #{transferAmount}, #{poundage}, #{withdrawNumber},
                #{channel}, #{withdrawIp},
                #{withdrawOrderNumber}, #{uname}, #{accumulateWater}, #{accumulateRecharge}, #{accumulateExcoins},
                #{registerIp}, #{withdrawType}, #{exaaStatus}, sysdate())
    </insert>

    <select id="checkBlack" resultType="java.util.Map">
        SELECT black_type blackType,
               black_num blackNum
        FROM sys_black
        WHERE (black_type ='1'  AND black_num LIKE CONCAT('%',#{withdrawIp},'%'))
           OR (black_type ='2'  AND black_num LIKE CONCAT('%',(select account from user_exchange where uid = #{uid} and type='0'),'%'))
           OR (black_type ='3'  AND black_num LIKE CONCAT('%',(select account from user_exchange where uid = #{uid} and type='1'),'%'))
           OR (black_type ='4'  AND black_num LIKE CONCAT('%',#{matchineId},'%'))
           and handle_type = '2'
        limit 0,1
    </select>

    <insert id="saveBlackInfo">
        insert into sys_black_info(uid, tid, black_type, black_num, handle_type)
        values (#{uid}, #{tid}, #{blackType}, #{blackNum}, 2)
    </insert>
</mapper>
