<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.PlayerMapper">

    <select id="selectPlayer" resultType="com.manager.common.core.domain.model.PlayUser"
            parameterType="com.manager.common.core.domain.model.PlayUser">
        select dr.uid,
            name,
            FROM_UNIXTIME(time) time,
            dr.channel,
            agent_id agentId,
            device_id deviceId,
            register_ip registerIp,
            device_brand deviceBrand,
            register_machine registerMachine,
            login_ip loginIp,
            login_device_id loginDeviceId,
            login_device_brand loginDeviceBrand,
            vip_level vipLevel,
            phone,
            safe_box / 10000 safeBox,
            FROM_UNIXTIME(login_time) loginTime,
            today_give todayGive,
            today_water / 10000 todayWater,
            today_win todayWin,
            total_add totalAdd,
            total_red totalRed,
            total_give totalGive,
            count_add countAdd,
            total_win totalWin,
            total_water / 10000 totalWater,
            curr / 10000 curr,
            cr.recharge_amount as oneRecharge,
            cro.todayAdd,
            ceo.todayRed
        from data_register dr
        LEFT JOIN (
            SELECT * from config_recharge_order a where id in (SELECT min(id) FROM config_recharge_order b GROUP BY uid)
            and (a.operate_type <![CDATA[<>]]> '3' and a.operate_type <![CDATA[<>]]> '4'or a.operate_type is null)
        ) cr ON dr.uid = cr.uid
        LEFT JOIN (
            SELECT SUM(cro.recharge_amount) as todayAdd,cro.uid from config_recharge_order cro
            where date_format(cro.finish_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
            and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4'or cro.operate_type is null) GROUP BY uid
        ) cro ON dr.uid = cro.uid
        LEFT JOIN (
            SELECT SUM(ceo.withdraw_money) as todayRed,ceo.uid from config_exchange_order ceo
            where date_format(ceo.update_time, '%Y-%m-%d') = date_format(now(), '%Y-%m-%d')
            and ceo.exaa_status = '5' GROUP BY uid
        ) ceo ON dr.uid = ceo.uid
        <where>
            <if test="playUser.uid!=null and playUser.uid !=''">
                and dr.uid in
                <foreach item="item" index="index" collection="playUser.uid.split(',')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
            <if test="playUser.name!=null and playUser.name !=''">
                and dr.name = #{playUser.name}
            </if>
            <if test="playUser.phone!=null and playUser.phone !=''">
                and dr.phone = #{playUser.phone}
            </if>
            <if test="playUser.registerIp!=null and playUser.registerIp !=''">
                and dr.register_ip = #{playUser.registerIp}
            </if>
            <if test="playUser.registerMachine!=null and playUser.registerMachine !=''">
                and dr.register_machine = #{playUser.registerMachine}
            </if>
            <if test="playUser.beginTime!=null and playUser.beginTime !=''">
                and dr.time >= UNIX_TIMESTAMP(#{playUser.beginTime})
            </if>
            <if test="playUser.endTime!=null and playUser.endTime !=''">
                and UNIX_TIMESTAMP(#{playUser.endTime}) >= time
            </if>
            <if test="playUser.tid!=null and playUser.tid !=''">
                and dr.channel in (select t_id from sys_tenant where t_type = '2' and ancestors like CONCAT('%', #{playUser.tid}, '%'))
            </if>
            <if test="playUser.tenant!=null and playUser.tenant !=''">
                and dr.channel in (select t_id from sys_tenant where t_type = '2' and tenant = #{playUser.tenant} )
            </if>
            <if test="playUser.loginIp!=null and playUser.loginIp !=''">
                and dr.login_ip = #{playUser.loginIp}
            </if>
            <if test="playUser.loginDeviceId!=null and playUser.loginDeviceId !=''">
                and dr.login_device_id = #{playUser.loginDeviceId}
            </if>
        </where>
        order by time DESC
        <if test="count != 'count'">
            LIMIT #{playUser.page2},#{playUser.size}
        </if>
    </select>

    <select id="getOneRecharge" resultType="String">
        SELECT
            cro.recharge_amount as oneRecharge
        from
            config_recharge_order cro
        where
            cro.uid = #{uid}
          and (cro.operate_type <![CDATA[<>]]> '3' and cro.operate_type <![CDATA[<>]]> '4'
            or cro.operate_type is null)
        order by finish_time asc
            limit 1
    </select>

    <select id="getSumChannel" resultType="String">
        SELECT
            st.t_id as sumChannel
        from
            sys_tenant st
        where
            st.t_type = '1'
        and st.t_id = (
            SELECT
                st.parent_id
            from
                sys_tenant st
            where
                st.t_id = #{channel}
            limit 1
        )
        limit 1
    </select>

    <update id="updatePlayer" parameterType="com.manager.common.core.domain.model.PlayUser">
        update data_user
        <set>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="password != null and password != ''">password = #{password},</if>
        </set>
        where account_id = (select account_id from data_register where uid = #{uid} limit 1)
    </update>

    <insert id="updateBank">
        insert into user_exchange(uid, type, name, account, origin_bank,tid,channel,create_time)
        values (#{uid}, #{type}, #{name}, #{account}, #{originBank},#{tid},#{channel},sysdate())
        ON DUPLICATE KEY
        UPDATE name=values (name),
            account=values (account),
            origin_bank=values (origin_bank);
    </insert>

    <select id="getRecAndexc" resultType="java.util.Map">
        select today_add todayAdd, today_give todayGive, today_red todayRed,
        total_add totalAdd, total_give totalGive, total_red totalRed
        from data_register
        where uid = #{uid}
    </select>

    <select id="getRechargeInfo" resultType="java.util.Map">
        SELECT finish_time finishTime,
               recharge_amount rechargeAmount,
               recharge_type rechargeType,
               admin_user_id adminUserId
        FROM config_recharge_order
        WHERE uid = #{uid}
        AND payment_status = '1'
    </select>

    <select id="getExchangeInfo" resultType="java.util.Map">
        SELECT create_time createTime,
               withdraw_type withdrawType,
               withdraw_money withdrawMoney
        FROM config_exchange_order
        WHERE uid = #{uid}
        AND exaa_status = '5'
    </select>

    <select id="userInfo" resultType="java.util.Map">
        SELECT uid,name, phone,FROM_UNIXTIME(TIME) registerTime,register_ip registerIp,
            device_id deviceId,client_version clientVersion,
            FROM_UNIXTIME(login_time) loginTime,login_ip loginIp,
        (SELECT finish_time FROM config_recharge_order WHERE uid = uid AND payment_status = '1' ORDER BY finish_time LIMIT 0,1) firstTime,
        (SELECT finish_time FROM config_recharge_order WHERE uid = uid AND payment_status = '1' ORDER BY finish_time desc LIMIT 0,1) lastTime
        FROM data_register
        WHERE uid = #{uid}
    </select>

    <select id="waterInfo" resultType="java.util.Map" parameterType="com.manager.common.core.domain.model.PlayWater">
        select
        c.curr/10000 curr,
        FROM_UNIXTIME(c.`time`) `time`,
        c.`value`/10000 `value` ,
        c.`before`/10000 `before`,
        if(c.game_type is null,0,c.game_type) gameType,
        c.r
        from data_coins c
        <where>
            <if test="uid!=null and uid !=''">
                and c.uid = #{uid}
            </if>
            <if test="beginTime!=null and beginTime !=''">
                and c.mstime between #{beginms} and #{endms}
            </if>
            <if test="gameType!=null and gameType !=0">
                and c.game_type = #{gameType}
            </if>
            <if test="gameType!=null and gameType ==0">
                and (c.game_type = #{gameType} or c.game_type is null)
            </if>
            <if test="r!=null and r !=''">
                and c.r in
                <foreach item="item" index="index" collection="r.split(',')" open="(" separator="," close=")">
                    '${item}'
                </foreach>
            </if>
        </where>
    </select>

    <update id="updateToken">
        UPDATE  `data_user`
        SET seed_token = CONCAT(seed_token,"---")
        WHERE account_id = (SELECT account_id FROM data_register WHERE uid = #{uid})
    </update>

    <insert id="saveUserLock">
        insert into data_user_lock(uid, lock_type, lock_day, lock_mark, create_time, update_time, create_by)
        values (#{uid}, #{lockType}, #{lockDay}, #{lockMark}, sysdate(), sysdate(), #{createBy})
        ON DUPLICATE KEY
        UPDATE lock_type=values (lock_type),
            lock_day=values (lock_day),
            lock_mark=values (lock_mark),
            update_time=values (update_time),
            create_by=values (create_by);
    </insert>

    <insert id="saveUserLockLog">
        insert into data_lock_log(uid, lock_type, lock_day, lock_mark, create_time, create_by)
        values (#{uid}, #{lockType}, #{lockDay}, #{lockMark}, sysdate(), #{createBy})
    </insert>

    <select id="selectPlayerCurr" resultType="java.util.Map">
       select curr/10000 curr,FROM_UNIXTIME(time) time from data_coins
       where uid = #{uid}
        <if test="beginTime!=null and beginTime!=''"> and FROM_UNIXTIME(time) >=#{beginTime} </if>
        <if test="endTime!=null and endTime!=''">  and #{endTime}>= FROM_UNIXTIME(time) </if>
    </select>
</mapper>
