<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.SubGameMapper">

    <select id="getSubGameList" parameterType="com.manager.common.core.domain.model.Game" resultType="java.util.Map">
        SELECT
        tid as tId,
        game_id AS gameId,
        parent_id AS parentId,
        game_name AS gameName,
        game_type AS gameType,
        status AS status,
        game_bs AS gameBs,
        user_sort AS userSort
        FROM
        config_game
        where parent_id = "0"
        <if test="gameId!=null and gameId!=''">
            and game_id = #{gameId}
        </if>
        <if test="gameType!=null and gameType!=''">
            and game_type = #{gameType}
        </if>
        <if test="tId!=null and tId!=''">
            and tid = #{tId}
        </if>
    </select>

    <update id="editSubGame" parameterType="com.manager.common.core.domain.model.Game">
        update config_game
        <set>
            <if test="status!=null and status!=''">status = #{status},</if>
            <if test="gameType!=null and gameType!=''">game_type = #{gameType},</if>
            <if test="gameBs!=null and gameBs!=''">game_bs = #{gameBs},</if>
            <if test="userSort!=null and userSort!=''">user_sort = #{userSort},</if>
            updated_time = sysdate()
        </set>
        where game_id = #{gameId}
    </update>

</mapper>
