<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.SubGameActualDataMapper">

    <select id="getSubGameActualDataList" resultType="com.manager.common.core.domain.model.SubGameActualData">
        SELECT
            csgad.day as day,
            csgad.parent_id as parentId,
            csgad.game_id as gameId,
            csgad.game_name as gameName,
            csgad.bet_recharge as betRecharge,
            csgad.reward_recharge as rewardRecharge,
            csgad.tax_revenue as taxRevenue,
            csgad.profit_and_loss as profitAndLoss,
            csgad.profit_and_loss_ratio as profitAndLossRatio,
            (SELECT COUNT(distinct dcu.uid) from
                data_card_user dcu
                where
                FROM_UNIXTIME(dcu.begin_time, '%Y-%m-%d') >= #{createTime1}
                and FROM_UNIXTIME(dcu.end_time, '%Y-%m-%d') <![CDATA[<=]]> #{createTime2}
            ) as parCount,
            (SELECT COUNT(dc.uid) from
                data_card dc
                where
                FROM_UNIXTIME(dc.begin_time, '%Y-%m-%d') >= #{createTime1}
                and FROM_UNIXTIME(dc.end_time, '%Y-%m-%d') <![CDATA[<=]]> #{createTime2}
            ) as humBurCount,
            csgad.init_time as initTime
        from
            config_sub_game_actual_data csgad
        where 1 = 1
        <if test="gameId!=null and gameId!=''">
            and csgad.game_id = #{gameId}
        </if>
        and date_format(csgad.day,'%Y-%m-%d') >= #{createTime1}
        and date_format(csgad.day,'%Y-%m-%d') <![CDATA[<=]]>  #{createTime2}
    </select>

</mapper>
