<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.TotalMapper">

    <select id="getTotals" resultType="java.util.Map">
        SELECT  exchange_count exchangeCount,
                give_num giveNum,
                channel,
                new_recharge_count newRechargeCount,
                offline_pay_rate offlinePayRate,
                vip_count vipCount,
                recharge_give_count rechargeGiveCount,
                recharge_num rechargeNum,
                new_exchange_count newExchangeCount,
                active_num activeNum,
                activity_count activityCount,
                exchange_num exchangeNum,
                system_win systemWin,
                win_rate winRate,
                day,
                reward_count rewardCount,
                commission_team_count commissionTeamCount,
                give_count giveCount,
                online_pay_rate onlinePayRate,
                fee_count feeCount,
                alms_count almsCount,
                new_water newWater,
                offline_give_count offlineGiveCount,
                bind_give_count bindGiveCount,
                performance_count performanceCount,
                recharge_count rechargeCount,
                new_num newNum,
                vip_level_count vipLevelCount,
                balance_count balanceCount,
                confiscate_count confiscateCount,
                new_recharge_num newRechargeNum,
                actual_exchange_count actualExchangeCount,
                commission_sub_count commissionSubCount,
                bet_count betCount
        from data_total_day
        where day >= #{beginTime} and #{endTime} >= day
        <if test="channel!=null and channel!=0"> and channel = #{channel}</if>
    </select>

    <select id="getLeft" resultType="java.util.Map">
        select IF(sum(new_num) IS NULL,0,sum(new_num)) newNum,
                IF(sum(new_recharge_num) IS NULL,0,sum(new_recharge_num)) newRechargeNum,
                IF(sum(balance_count) IS NULL,0,sum(balance_count)) balanceCount
        from data_total_day
        where day = #{date}
        <if test="tid!=null and tid!=0">
            and channel in (select t_id from sys_tenant where tenant = #{tid} and t_type = '2')
        </if>
    </select>

    <select id="getYesterdayBalance" resultType="java.math.BigDecimal">
        select IF(SUM(balance_count) IS NULL,0,SUM(balance_count)) balanceCount
        from data_total_day
        where day = #{date}
        <if test="tid!=null and tid!=0">
            and channel in (select t_id from sys_tenant where tenant = #{tid} and t_type = '2')
        </if>
    </select>

    <select id="getOnlinePlayer" resultType="java.lang.Integer">
        select count(1) from
        data_online
        <if test="tid!=null and tid!=0">
            where channel in (select t_id from sys_tenant where tenant = #{tid} and t_type = '2')
        </if>
    </select>

    <select id="getRight" resultType="java.util.Map">
        SELECT SUM(recharge_count) rechargeCount,
               SUM(exchange_count) exchangeCount,
               SUM(give_count) giveCount,
               SUM(fee_count) feeCount,
               SUM(performance_count) performanceCount,
               SUM(commission_sub_count) commissionSubCount,
               SUM(commission_team_count) commissionTeamCount,
               SUM(bet_count-reward_count+fee_count) winCount
        FROM data_total_day
        WHERE DAY >= #{beginTime}
        AND #{endTime}>=DAY
        <if test="tid!=null and tid!=0">
            AND channel IN (SELECT t_id FROM sys_tenant WHERE tenant = #{tid} AND t_type = '2')
        </if>
    </select>
</mapper>
