<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.TotalMapper">

    <select id="getTotals" resultType="java.util.Map">
        SELECT  sum(exchange_count) exchangeCount,
        sum(give_num) giveNum,
        sum(new_recharge_count) newRechargeCount,
        sum(offline_pay_rate) offlinePayRate,
        sum(vip_count) vipCount,
        sum(recharge_give_count) rechargeGiveCount,
        sum(recharge_num) rechargeNum,
        sum(new_exchange_count) newExchangeCount,
        sum(active_num) activeNum,
        sum(activity_count) activityCount,
        sum(exchange_num) exchangeNum,
        sum(system_win) systemWin,
        sum(win_rate) winRate,
        `day`,
        sum(reward_count) rewardCount,
        sum(commission_team_count) commissionTeamCount,
        sum(give_count) giveCount,
        sum(online_pay_rate) onlinePayRate,
        sum(fee_count) feeCount,
        sum(alms_count) almsCount,
        sum(new_water) newWater,
        sum(offline_give_count) offlineGiveCount,
        sum(bind_give_count) bindGiveCount,
        sum(performance_count) performanceCount,
        sum(recharge_count) rechargeCount,
        sum(new_num) newNum,
        sum(vip_level_count) vipLevelCount,
        sum(balance_count) balanceCount,
        sum(confiscate_count) confiscateCount,
        sum(new_recharge_num) newRechargeNum,
        sum(actual_exchange_count) actualExchangeCount,
        sum(commission_sub_count) commissionSubCount,
        sum(bet_count) betCount
        from data_total_day
        where day >= #{beginTime} and #{endTime} >= day
        <if test="channel!=null and channel!=0"> and channel = #{channel}</if>
        <if test="channel!=null and channel==0"> and channel in (select t_id from sys_tenant where (ancestors like CONCAT('%',(select t_id from sys_user where user_id = #{uid}), '%')
         or t_id =(select t_id from sys_user where user_id = #{uid}) ) and t_type = '2')
        </if>
        group by day
    </select>

    <select id="getLeft" resultType="java.util.Map">
        select IF(sum(new_num) IS NULL,0,sum(new_num)) newNum,
                IF(sum(new_recharge_num) IS NULL,0,sum(new_recharge_num)) newRechargeNum,
                IF(sum(balance_count) IS NULL,0,sum(balance_count)) balanceCount
        from data_total_day
        where day = #{date}
        <if test="tid!=null and tid!=0">
            and channel in (select t_id from sys_tenant where (ancestors like CONCAT('%', #{tid}, '%') or t_id = #{tid}) and t_type = '2')
        </if>
    </select>

    <select id="getYesterdayBalance" resultType="java.math.BigDecimal">
        select IF(SUM(balance_count) IS NULL,0,SUM(balance_count)) balanceCount
        from data_total_day
        where day = #{date}
        <if test="tid!=null and tid!=0">
            and channel in (select t_id from sys_tenant where (ancestors like CONCAT('%', #{tid}, '%') or t_id = #{tid}) and t_type = '2')
        </if>
    </select>

    <select id="getOnlinePlayer" resultType="java.lang.Integer">
        select count(1) from
        data_online
        <if test="tid!=null and tid!=0">
            where channel in (select t_id from sys_tenant where (ancestors like CONCAT('%', #{tid}, '%') or t_id = #{tid}) and t_type = '2')
        </if>
    </select>

    <select id="getRight" resultType="java.util.Map">
        SELECT SUM(recharge_count) rechargeCount,
               SUM(exchange_count) exchangeCount,
               SUM(give_count) giveCount,
               SUM(fee_count) feeCount,
               SUM(performance_count) performanceCount,
               SUM(commission_sub_count) commissionSubCount,
               SUM(commission_team_count) commissionTeamCount,
               SUM(bet_count-reward_count+fee_count) winCount
        FROM data_total_day
        WHERE DAY >= #{beginTime}
        AND #{endTime}>=DAY
        <if test="tid!=null and tid!=0">
            AND channel IN (SELECT t_id FROM sys_tenant WHERE (ancestors like CONCAT('%', #{tid}, '%') or t_id = #{tid}) AND t_type = '2')
        </if>
    </select>
</mapper>
