<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.UpdateMapper">

    <select id="selectPackage" resultType="java.util.Map">
        select *
        from config_package
        where platform like CONCAT('%', #{platform}, '%')
          and (is_public = '*' or is_public like CONCAT('%', #{ip}, '%'))
          and (allow_channel = '*' or allow_channel like CONCAT('%', #{channelId}, '%') )
          and deny_channel not like CONCAT('%', #{channelId}, '%')
          and (allow_version = '*' or allow_version like CONCAT('%', #{versionId}, '%'))
          and deny_version not like CONCAT('%', #{versionId}, '%')
          and status = '1'
          and sysdate() >= release_time
        order by release_time
    </select>

    <insert id="addAllUpdate" parameterType="com.manager.common.core.domain.model.Allupdate">
        insert into config_update(`version`,`tid`,`status`,`apk_update_url`,`size`,`ver_int`,`update_time`,`created_time`)
        values
        <foreach item="item" index="index" collection="tid.split(',')" separator=",">
            (#{version},#{item},#{status},#{apkUpdateUrl},#{size},#{verInt},sysdate(),sysdate())
        </foreach>
    </insert>

    <update id="editAllUpdate" parameterType="com.manager.common.core.domain.model.Allupdate">
        update config_update
        <set>
            <if test="tid!=null and tid!=''"> tid = #{tid},</if>
            <if test="status!=null and status!=''"> status = #{status},</if>
            <if test="version!=null and version!=''"> version = #{version},</if>
            <if test="verInt!=null and verInt!=''"> ver_int = #{verInt},</if>
            <if test="apkUpdateUrl!=null and apkUpdateUrl!=''"> apk_update_url = #{apkUpdateUrl},</if>
            <if test="size!=null and size!=''"> size = #{size},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <!--添加 热更新-->
    <insert id="addHotUpdate" parameterType="com.manager.common.core.domain.model.Hotupdate">
        insert into config_package(`version`,`ver_int`,`allow_channel`,`deny_channel`,`allow_version`,`deny_version`,`is_public`,`game_info`,`platform`,`status`,
                                `release_time`,`update_time`,`created_time`,`apk_update_url`,`size`)
        values
         (#{version},#{verInt},#{allowChannel},#{denyChannel},#{allowVersion},#{denyVersion},#{isPublic},#{gameInfo},#{platform},#{status},
          #{releaseTime},sysdate(),sysdate(),#{apkUpdateUrl},#{size})
    </insert>

    <update id="editHotUpdate" parameterType="com.manager.common.core.domain.model.Hotupdate">
        update config_package
        <set>
            <if test="allowVersion!=null and allowVersion!=''"> allow_version = #{allowVersion},</if>
            <if test="denyVersion!=null and denyVersion!=''"> deny_version = #{denyVersion},</if>
            <if test="allowChannel!=null and allowChannel!=''"> allow_channel = #{allowChannel},</if>
            <if test="denyChannel!=null and denyChannel!=''"> deny_channel = #{denyChannel},</if>
            <if test="isPublic!=null and isPublic!=''"> is_public = #{isPublic},</if>
            <if test="status!=null and status!=''"> status = #{status},</if>
            <if test="platform!=null and platform!=''"> platform = #{platform},</if>
            <if test="releaseTime!=null and releaseTime!=''"> release_time = #{releaseTime},</if>
            <if test="version!=null and version!=''"> version = #{version},</if>
            <if test="gameInfo!=null and gameInfo!=''"> game_info = #{gameInfo},</if>
            <if test="apkUpdateUrl!=null and apkUpdateUrl!=''"> apk_update_url = #{apkUpdateUrl},</if>
            <if test="size!=null and size!=''"> `size` = #{size},</if>
            update_time = sysdate()
        </set>
        where id = #{id}
    </update>

    <select id="findHotupdate" resultType="java.util.Map">
        select id,version,allow_channel allowChannel,deny_channel denyChannel,allow_version allowVersion,
               deny_version denyVersion,is_public isPublic,platform,status,
        release_time releaseTime
        from config_package
    </select>

    <select id="findHotupdateById" resultType="java.util.Map">
        select version,allow_channel allowChannel,deny_channel denyChannel,allow_version allowVersion,
               deny_version denyVersion,is_public isPublic,game_info gameInfo,platform,status,
               release_time releaseTime,apk_update_url apkUpdateUrl,`size`
        from config_package
        where id = #{id}
    </select>
</mapper>
