<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.data.mapper.UserMapper">

    <select id="selectPackage" resultType="java.util.Map">
        select *
        from config_package
        where platform like CONCAT('%',#{platform},'%')
        and (is_public = '*' or is_public like CONCAT('%',#{ip},'%'))
        and (allow_channel = '*' or allow_channel like CONCAT('%',#{channelId},'%'))
        and deny_channel not like CONCAT('%',#{channelId},'%')
        and (allow_version = '*' or allow_version like CONCAT('%',#{versionId},'%'))
        and deny_version not like CONCAT('%',#{versionId},'%')
        and status = '1'
        and sysdate() >= release_time;
        order by release_time desc
    </select>

</mapper>
