<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.GameStoreMapper">

    <insert id="addGameStrategy">
        insert into control_game_config(strategy_name,strategy_tag_id,strategy_status,play_sha_rate,play_song_rate,game_list,
                                        base_store,reward_store,limit_list,play_sha_limit,play_song_limit,danji_sha_rate,update_time)
        values (#{strategyName},#{strategyTagId},#{strategyStatus},#{playShaRate},#{playSongRate},#{gameList},
                #{baseStore},#{rewardStore},#{limitList},#{playShaLimit},#{playSongLimit},#{danjiShaRate},sysdate())
    </insert>

    <select id="getGameStrategys" resultType="java.util.Map">
        select id,
               strategy_name strategyName,
               strategy_tag_id strategyTagId,
               strategy_status strategyStatus,
               play_sha_rate playShaRate,
               play_song_rate playSongRate,
               game_list gameList,
               base_store baseStore,
               reward_store rewardStore,
               limit_list limitList,
               play_sha_limit playShaLimit,
               play_song_limit playSongLimit,
               danji_sha_rate danjiShaRate,
               update_time updateTime
        from control_game_config
        <where>
            <if test="strategyTagId != 0"> strategy_tag_id = #{strategyTagId}</if>
        </where>
    </select>

    <update id="editGameStrategy">
        update control_game_config
        <set>
            <if test="strategyName != null and strategyName != ''"> strategy_name = #{strategyName},</if>
            <if test="strategyTagId != null and strategyTagId != ''"> strategy_tag_id = #{strategyTagId},</if>
            <if test="strategyStatus != null and strategyStatus != ''"> strategy_status = #{strategyStatus},</if>
            <if test="playShaRate != null and playShaRate != ''"> play_sha_rate = #{playShaRate},</if>
            <if test="playSongRate != null and playSongRate != ''"> play_song_rate = #{playSongRate},</if>
            <if test="gameList != null and gameList != ''"> game_list = #{gameList},</if>
            <if test="baseStore != null and baseStore != ''"> base_store = #{baseStore},</if>
            <if test="limitList != null and limitList != ''"> limit_list = #{limitList},</if>
            <if test="playShaLimit != null and playShaLimit != ''"> play_sha_limit = #{playShaLimit},</if>
            <if test="playSongLimit != null and playSongLimit != ''"> play_song_limit = #{playSongLimit},</if>
            <if test="danjiShaRate != null and danjiShaRate != ''"> danji_sha_rate = #{danjiShaRate},</if>
        </set>
        where id = #{id}
    </update>

    <delete id="delGameStrategy">
        delete from control_game_config
        where id = #{id}
    </delete>

    <select id="getGameStrategyList" resultType="java.util.Map">
        select id strategy_id,
               strategy_name,
               strategy_tag_id,
               strategy_status,
               play_sha_rate,
               play_song_rate,
               game_list,
               base_store,
               reward_store,
               limit_list,
               play_sha_limit,
               play_song_limit,
               danji_sha_rate,
               calculation_type,
               UNIX_TIMESTAMP(update_time) strategy_up_time
        from control_game_config
    </select>
</mapper>
