<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.ResultMapper">
    <select id="getGameResult" resultType="java.util.Map">
        select strategy_name strategyName,
            sum(add_score) addScore,
            sum(bet_coins) betCoins,
            up,
            down,
            sum(controls) controls,
            sum(sha) sha,
            sum(song) song,
            sum(games) games,
            t.tenant tid
        from data_game_result r
        LEFT JOIN sys_tenant t
        ON r.channel = t.t_id
        <where>
            <if test="tid != 0"> and channel in (select t_id from sys_tenant where t_type = '2' and ancestors like CONCAT('%', #{tid}, '%'))</if>
            <if test="strategyId != 0"> and strategy_id = #{strategyId}</if>
            <if test="day != null and day != ''"> and day = #{day}</if>
        </where>
        group by strategy_id,day, strategy_name,t.tenant,up,down
    </select>

    <select id="getPersonResult" resultType="java.util.Map">
        SELECT g.strategy_id strategyId
        ,g.strategy_name strategyName
        ,JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_flag') strategyFlag
        ,r.uid uid,r.name,c.channel
        ,SUM(JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_bet')) curBet
        ,SUM(JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_reward')) curReward
        ,MAX(c.time) handelTime
        ,IF(o.uid IS NULL,0,1) online
        ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND finish_time>= CONCAT(#{day},' 00:00:00') AND CONCAT(#{day},' 23:59:59')>=finish_time) rechargeAmount
        ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND CONCAT(#{day},' 23:59:59')>=finish_time) rechargeHistory
        ,(SELECT SUM(add_score) FROM ${cardUserName} d WHERE d.uid = r.uid AND d.end_time BETWEEN UNIX_TIMESTAMP(#{day}) AND UNIX_TIMESTAMP(#{day})+60*60*24) addScore
        ,(SELECT SUM(add_score) FROM ${cardUserName} d WHERE d.uid = r.uid AND d.end_time BETWEEN UNIX_TIMESTAMP(#{day})-2*60*60*24 AND UNIX_TIMESTAMP(#{day})+60*60*24) threeAddScore
        ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND UNIX_TIMESTAMP(finish_time)>= UNIX_TIMESTAMP(#{day})-2*60*60*24 AND UNIX_TIMESTAMP(#{day})+60*60*24 >=UNIX_TIMESTAMP(finish_time)) threeRechargeAmount
        ,FROM_UNIXTIME(r.time) registerTime
        FROM ${cardName} c
        LEFT JOIN control_person_config g
        ON JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_id') = g.strategy_id
        LEFT JOIN data_register r
        ON JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].uid') = r.uid
        LEFT JOIN data_online o
        ON r.uid = o.uid
        WHERE JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_id') IS NOT NULL
        and c.time between UNIX_TIMESTAMP(#{day}) and UNIX_TIMESTAMP(#{day})+60*60*24
        <if test="tid != 0"> and c.channel in (select t_id from sys_tenant where t_type = '2' and ancestors like CONCAT('%', #{tid}, '%'))</if>
        <if test="uid != null and uid != '' "> and r.uid = #{uid}</if>
        <if test="strategyId != null and strategyId != '' "> and g.id = #{strategyId}</if>
        GROUP BY JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_flag'),
        g.strategy_id,r.uid,g.strategy_name,c.channel,r.name,o.uid
    </select>

    <select id="getPersonResultCount" resultType="java.util.Map">
        select sum(curBet) curBet,sum(curReward) curReward,count(distinct uid) persons,count(1) counts from(
            SELECT g.strategy_id strategyId
            ,g.strategy_name strategyName
            ,JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_flag') strategyFlag
            ,r.uid uid,r.name,c.channel
            ,SUM(JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_bet')) curBet
            ,SUM(JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_reward')) curReward
            ,MAX(c.time) handelTime
            ,IF(o.uid IS NULL,0,1) online
            ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND
            finish_time>= CONCAT(#{day},' 00:00:00') AND CONCAT(#{day},' 23:59:59')>=finish_time) rechargeAmount
            ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND
            CONCAT(#{day},' 23:59:59')>=finish_time) rechargeHistory
            ,(SELECT SUM(add_score) FROM ${cardUserName} d WHERE d.uid = r.uid AND d.end_time BETWEEN UNIX_TIMESTAMP(#{day})
            AND UNIX_TIMESTAMP(#{day})+60*60*24) addScore
            ,(SELECT SUM(add_score) FROM ${cardUserName} d WHERE d.uid = r.uid AND d.end_time BETWEEN
            UNIX_TIMESTAMP(#{day})-2*60*60*24 AND UNIX_TIMESTAMP(#{day})+60*60*24) threeAddScore
            ,(SELECT SUM(recharge_amount) FROM config_recharge_order WHERE uid = r.uid AND payment_status = '1' AND
            UNIX_TIMESTAMP(finish_time)>= UNIX_TIMESTAMP(#{day})-2*60*60*24 AND UNIX_TIMESTAMP(#{day})+60*60*24
            >=UNIX_TIMESTAMP(finish_time)) threeRechargeAmount
            ,FROM_UNIXTIME(r.time) registerTime
            FROM ${cardName} c
            LEFT JOIN control_person_config g
            ON JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_id') = g.strategy_id
            LEFT JOIN data_register r
            ON JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].uid') = r.uid
            LEFT JOIN data_online o
            ON r.uid = o.uid
            WHERE JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_id') IS NOT NULL
            and c.time between UNIX_TIMESTAMP(#{day}) and UNIX_TIMESTAMP(#{day})+60*60*24<if test="tid != 0">and c.channel
            in (select t_id from sys_tenant where t_type = '2' and ancestors like CONCAT(
            '%', #{tid}, '%'))</if>
            <if test="uid != null and uid != '' "> and r.uid = #{uid}</if>
            <if test="strategyId != null and strategyId != '' "> and g.id = #{strategyId}</if>
            GROUP BY JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_flag'),
            g.strategy_id,r.uid,g.strategy_name,c.channel,r.name,o.uid
        )t
    </select>

    <select id="getPersonResultInfo" resultType="java.util.Map">
        SELECT g.game_name gameName
             ,JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].uid') uid
             ,JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_bet') curBet
             ,JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].cur_reward') curReward
             ,p.strategy_name strategyName
             ,FROM_UNIXTIME(c.time) handelTime
        FROM ${cardName} c
        LEFT JOIN config_game g
        ON c.table_type = g.game_id
        LEFT JOIN control_person_config p
        ON JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_id') = p.strategy_id
        WHERE JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].strategy_flag') = #{strategyFlag}
        and JSON_EXTRACT(JSON_EXTRACT(exinfo,'$.control_info2'),'$[0].uid') = #{uid}
    </select>
</mapper>
