<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.system.mapper.SysIpWhiteMapper">

    <insert id="insertIpWhite">
        insert into sys_ip_white(user_id,ip,create_by,create_time,type,tenant)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.userId},
            #{item.ip},
            #{item.createBy},
            sysdate(),
            0,
            0
            )
        </foreach>

    </insert>

    <select id="selectIpWhiteList" resultType="java.util.Map">
        select u.user_name userName
        ,w.create_by createName
        ,w.ip
        ,DATE_FORMAT(w.create_time,'%Y-%m-%d %H:%i:%s') createTime
        ,w.id
        ,w.type
        from sys_ip_white w
        left join sys_user u
        on w.user_id = u.user_id
        <where>
               and w.tenant = '0'
               and w.type = '0'
            <if test="userId != null and userId != ''">
                and w.user_id = #{userId}
            </if>
            <if test="userName != null and userName != ''">
                and u.user_name = #{userName}
            </if>
            <if test="ip != null and ip != ''">
                and w.ip = #{ip}
            </if>
        </where>
        order by w.create_time desc
    </select>

    <select id="selectIpByUserId" resultType="java.util.Map">
        select i.ip
        from sys_ip_white i
                 left join sys_user u on i.user_id = u.user_id
        where i.user_id = #{userId}
          and i.tenant = '0'
          and type = 0
    </select>
</mapper>
